aiohttp-socks==0.4.2
aiohttp==3.6.2
aiorpcx==0.18.4
apparmor==3.0.0
appdirs==1.4.4
apptools==4.5.0
argon2-cffi==20.1.0
argparse==1.4.0
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==20.3.0
backcall==0.1.0
beautifulsoup4==4.9.1
bitstring==3.1.7
bleach==3.1.5
btrfsutil==5.9
cachecontrol==0.12.6
ceph-volume==1.0.0
ceph==1.0.0
cephfs-shell==0.0.1
cephfs==2.0.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click-plugins==1.1.1
click==7.1.2
cligj==0.5.0
cloudpickle==1.3.0
colorama==0.4.4
configobj==5.0.6
configparser==5.0.1
contextlib2==0.6.0.post1
cryptography==3.2.1
cupshelpers==1.0
cycler==0.10.0
cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
ecdsa==0.16.0
electrum==4.0.4
entrypoints==0.3
envisage==4.9.2
et-xmlfile==1.0.1
fiona==1.8.16
future==0.18.2
geopandas==0.8.1
gitdb==4.0.5
gitpython==3.1.11
gunicorn==20.0.4
gym==0.17.2
html5lib==1.1
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.2.1
ipython-genutils==0.2.0
ipython==7.14.0
ipywidgets==7.5.1
jade-application-kit==3.5.6
jdcal==1.4.1
jedi==0.17.0
jinja2==2.11.2
joblib==0.17.0
jsonrpclib-pelix==0.4.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter==1.0.0
keyutils==0.6
kiwisolver==1.2.0
lensfun==0.3.95
libapparmor==3.0.0
lit==0.11.0.dev0
lockfile==0.12.2
louis==3.15.0
lxml==4.6.1
markupsafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
more-itertools==8.6.0
msgpack==1.0.0
multidict==4.7.6
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.7
netsnmp-python==1.0a1
notebook==6.1.3
npyscreen==4.10.5
numpy==1.18.4
openpyxl==3.0.5
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pandas==1.1.5
pandocfilters==1.4.2
parso==0.7.0
pbkdf2==1.3
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.2
ply==3.11
progress==1.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.4
protonvpn-cli==2.2.0
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
pyaes==1.6.1
pycairo==1.20.0
pycparser==2.20
pycryptodomex==3.9.8
pycups==2.0.1
pycurl==7.43.0.6
pyface==7.0.1
pyglet==1.5.0
pygments==2.6.1
pygobject==3.38.0
pyopenssl==19.1.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pyqt5-sip==12.8.1
pyqt5==5.15.2
pyqtwebengine==5.15.2
pyrsistent==0.16.0
pysmbc==1.0.23
pysocks==1.7.1
python-dateutil==2.8.1
pythondialog==3.5.1
pytoml==0.1.21
pytz==2020.1
pyyaml==5.3.1
pyzmq==19.0.1
qrcode==6.1
qtconsole==4.7.5
qtpy==1.9.0
qutip==4.5.2
rados==2.0.0
rbd==2.0.0
reportlab==3.5.55
requests==2.24.0
resolvelib==0.5.1
retrying==1.3.3
rgw==2.0.0
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.0
send2trash==1.5.0
sentry-sdk==0.19.5
setuptools==50.3.2
shapely==1.7.1
shortuuid==1.0.1
sip==4.19.24
six==1.15.0
sklearn==0.0
smmap==3.0.4
sobol-seq==0.2.0
soupsieve==2.0.1
subprocess32==3.5.4
team==1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tlpui==0.1
toml==0.10.2
torch==1.7.1
tornado==6.0.4
traceroute==19.2.0
traitlets==4.3.3
traits==6.1.1
traitsui==7.0.1
typing-extensions==3.7.4.3
udiskie==2.2.0
urllib3==1.25.10
virtualenv==16.7.8
vtk==9.0.1
wandb==0.10.12
watchdog==1.0.2
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
xlrd==1.2.0
yarl==1.5.1
zipp==3.4.0